*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'popons', sans-serif;
    background-color: rgb(27,27,27);
    overflow-x: hidden;
}

.header{
    height: 90vh;
    position: relative;
}

.navbar{
    height: 110px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    position: fixed;
}

.navbar-box{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.heading-tertiary{
    font-size: 3.5rem;
}

.navbar-list{
    list-style: none;
    font-size: 2rem;
}

.navbar-item{
    display: inline-block;
}

.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color: white;
    padding: 3rem;
    transition: all .2s ease;
}

.navbar-link:hover{
    background-color: #da6b1d;
    color: white;
}

.navbar-link-book:visited,
.navbar-link-book:link{
    text-decoration: none;
    color: white;
    padding: 2rem 3.5rem;
    border: 1px solid #da6b1d;
    border-radius: 200px;
    box-shadow: 0 0 1rem rgba(236, 118, 40, .5);
    text-shadow: 0 .3rem 1rem rgba(255,255,255, .5);
    transition: all .4s ease;
}

.navbar-link-book:hover{
    background-color: #da6b1d;
    color: white;
}

.toggle{
    height: 5rem;
    width: 5rem;
    display: none;
}

.toggle div{
    height: 4px;
    width: 100%;
    background-color: white;
    margin: 1rem;
}

.header-container{
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
}

.video{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    bottom: 0;
    right: 0;
}

#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.header-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.heading-primary{
    font-size: 6.5rem;
    font-weight: 600;
    letter-spacing: 3px;
}

#restaurant{
    color: #da6b1d;
    font-weight: 800;
    font-size: 8rem;
}

.lead{
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 4px;
}

.book-now:visited,
.book-now:link{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    margin-top: 4rem;
    border: 1px solid white;

    border-radius: 100px;
    transition: all .3s ease;
    box-shadow: 0 1rem 1rem rgba(240,107,55, .1);
    text-shadow: 0 1rem 1rem rgba(0,0,0,.6);
}

.book-now:hover{
    background-color: #da6b1d;
    border: 1px solid white;
    box-shadow: 0 0 2rem rgba(240,107,55, .8);
}

/* MENU */

.menu{
    width: 100%;
    padding: 10rem 5rem;
    background-image: linear-gradient(to right bottom, rgb(255, 81, 0), rgba(255,0,0,.5));
}

.menu-heading{
    font-size: 12rem;
    text-align: center;
    text-shadow: 0 0 1rem rgba(0,0,0,.9);
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}

.menu-grid{
    display: grid;
    grid-template-rows:repeat(2, 1fr) ;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    grid-gap: 2rem;
}

.heading-secondary{
    font-size: 7rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.menu-img{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("img/pizza.jpg");
}

.menu-container{
    width: 100%;
    height: 50rem;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
    transition: all .4s ease;
}

.menu-container:hover{
    box-shadow: 0 0 5rem rgba(0,0,0,.4);
    transform: scale(1.07);
}

.menu-p{
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
}

.menu-title{
    font-size: 3rem;
    text-align: center;
}

.price{
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: #da6b1d;
    text-shadow: 0 .4rem 2rem rgba(0,0,0,.4);
}